$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300);
body {
  overflow-x: hidden;
}
body.modal-open {
  overflow: visible;
}
.tab-content {
  padding-top: 2vh;
  .tabFooter {
    margin-top: 2vh;
  }
}
p {
  font-size: 1em;
}

p.small {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
}

hr.star-light,
hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: FontAwesome;
  font-size: 2em;
}


hr.star-light {
  border-color: #ffffff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18bc9c;
}

hr.star-primary {
  border-color: #2c3e50;
}

hr.star-primary:after {
  color: #2c3e50;
  background-color: #fff;
}
.img-centered {
  margin: 0 auto;
}

header {
  text-align: center;
  color: #fff;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
}

header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
.container h2 {
  padding: 20px;
  font-family: Raleway;
}
header img {
  display: block;
  margin: 0 auto 20px;
}

header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: 'Raleway',sans-serif;
  font-size: 3em;
  font-weight: 200;
}

header .intro-text .tagline {
  word-wrap : break-word;
  padding-top: 4vh;
  font-family: 'Raleway',sans-serif;
  font-size: 1.75em;
  font-weight: 300;
  display: block;
}
header .intro-text .profilePic {
  padding-top: 6vh;
  width: 10vw;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.portfolioItem .portfolioItemDescription  {
  position: absolute;
  background-color: rgba(255,255,255,0.95);
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color: #000;
  width: 100%;
  float: none;
  bottom: -60px;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 5px;

  h3 {
    padding-left: 10px;
    line-height: 1.75em;
    font-size: 0.75em;
    margin: 0;
  }
}
@media(min-width:768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }

  header .intro-text .name {
    font-size: 5.75em;
  }

  header .intro-text .skills {
    font-size: 1.75em;
  }
}

@media(min-width:768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }

  .navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .navbar-fixed-top.navbarshrink {
    padding: 10px 0;
  }

  .navbar-fixed-top.navbarshrink .navbar-brand {
    font-size: 1.5em;
  }
}

.navbar {
  text-transform: uppercase;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
}

.navbar a:focus {
  outline: 0;
}

.navbar .navbar-nav {
  letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
  outline: 0;
}

.navbar-default,
.navbar-inverse {
  border: 0;
}

section {
  padding: 100px 0;
}

section h2 {
  margin: 0;
  font-size: 3em;
}
section h4 {
  padding: 20px;
}

section.success {

}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
  outline: 0;
  color: #2c3e50;
}

@media(max-width:767px) {
  section {
    padding: 75px 0;
  }

  section.first {
    padding-top: 75px;
  }
}
#portfolio .portfolioItem {
  width: 300px;
  height: 200px;
  background-repeat: no-repeat!important;
  //float: left;
  display: inline-block;
  background-size: cover;
  background-position: top center;

}
.projects li {
  position: relative;
  //float: left;
  overflow: hidden;
  width: 16.6666667%; /* Fallback */
  width: -webkit-calc(100% / 6);
  width: calc(100% / 6);
  transform-origin:0 0;
  -webkit-transform-origin:0% 0%; /* Safari and Chrome */
  -ms-transform-origin:0% 0%; /* IE 9 */
}

.projects li:hover img {
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.projects li:hover .portfolioItemDescription {
  animation-duration: 1s;
  animation-name: slidein;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}
@keyframes slidein {
  from {
    botton:-160px
  }
  to {
    bottom:0px
  }
}

.projects li a img {
  max-width: 100%;
  opacity: 1;
  height: auto!important;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


@media(min-width:767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.btn-outline {
  margin-top: 15px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  border: solid 2px #fff;
  color: #18bc9c;
  background: #fff;
}

.floating-lRaleway-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #eee;
}

.floating-lRaleway-form-group input,
.floating-lRaleway-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  font-size: 1.5em;
  background: 0 0;
  box-shadow: none!important;
  resize: none;
}

.floating-lRaleway-form-group lRaleway {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: .85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top .3s ease,opacity .3s ease;
  -moz-transition: top .3s ease,opacity .3s ease;
  -ms-transition: top .3s ease,opacity .3s ease;
  transition: top .3s ease,opacity .3s ease;
}

.floating-lRaleway-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eee;
}

.floating-lRaleway-form-group-with-value lRaleway {
  top: 0;
  opacity: 1;
}

.floating-lRaleway-form-group-with-focus lRaleway {
  color: #18bc9c;
}

form .row:first-child .floating-lRaleway-form-group {
  border-top: 1px solid #eee;
}

footer {
  color: #fff;
}

footer h3 {
  margin-bottom: 30px;
}

footer .footer-above {
  padding-top: 50px;
  background-color: #2c3e50;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}

.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}

.scroll-top {
  z-index: 1049;
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
}

.scroll-top .btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 28px;
}

.scroll-top .btn:focus {
  outline: 0;
}

.modal-body img {
  width:100%;
}
.modal-footer p {
  text-align: left;
  font-size: 1em;
}

.modal-dialog {
  //width: 1024px;
}