<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Bilateral Designs</title>
    <meta name="description" content=">Bilateral Designs Portfolio Site">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width">
      <link rel="icon" type="image/ico" href="../images/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="portfolioApp">
  <nav class="navbar navbar-default navbar-fixed-top" data-navscroll ng-class="{navbarshrink:boolChangeClass}">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#" scroll-page scroll-to="#page-top">Bilateral.ca</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden" >
                      <a href="#page-top"></a>
                  </li>
                  <li scroll-page scroll-to="#portfolio">
                      <a href="#portfolio">Projects</a>
                  </li>
                  <li scroll-page scroll-to="#about">
                      <a href="#about">About</a>
                  </li>
                  <li scroll-page scroll-to="#contact">
                      <a href="#contact">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
    <!--<iframe src="http://bilateral.ca/apps/Fuel_Efficiency/gc_en.html" width="100%" height="470"/>-->
  <!-- Header -->
  <header id="page-top">
      <div class="container" >
          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-text">
                      <span class="name">Bilateral Designs</span>
                      <span class="tagline">My name is Richard Renshaw and I'm a Front-End developer based in Toronto, Canada.<br/><br/>I specialize in javascript frameworks like AngularJS/ExpressJSVueJS/React etc. utilizing HTML5/CSS3 and building for mobile-friendly environments, but am equally comfortable with server-side scripting in PHP.</span>
                      <img class="profilePic" alt="Richard renshaw Profile picture" src="../images/profilePic.jpg" />
                  </div>
              </div>
          </div>
      </div>
  </header>

  <!-- Portfolio Grid Section -->
  <section id="portfolio" ng-controller="MainCtrl">
      <div class="projects">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Projects</h2>
                  <h4>These are some of the projects I have either contributed to or have authored.</h4>
              </div>
          </div>
          <ul>
              <li class="portfolioItem" ng-repeat="item in portfolioItems['items']" style='background: url("{{ item.thumbnailImg2}}");'>
                  <a class="foliohover" >
                      <img src="{{ item.thumbnailImg1}}" ng-click="showComplex( {{ $index }} )" />
                  </a>
                  <div class="portfolioItemDescription">
                      <h3>{{ item.footer1}}</h3>
                      <h3>{{ item.footer2}}</h3>
                  </div>
              </li>
          </ul>
      </div>
  </section>

  <!-- About Section -->
  <section class="success" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>About</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-lg-offset-2">
                  <h4>Above is a sample of some of the projects I've been involved with or authored over the last several years.  They range from major sites receiving 300,000+ pageviews per day to small, stand-alone apps designed to fill a specific need.</h4>
              </div>
              <div class="col-lg-4">
                  <h4>When not freelancing, I'm contracting primarily with digital agencies and enjoying the energy, environment and the variety of clients & technologies it provides.</h4>
              </div>
          </div>
      </div>
  </section>

  <!-- Contact Section -->
  <section id="contact">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Contact Me</h2>
              <h4>I can be reached at anytime through email:</h4>
              <h4><a href="mailto:rhrenshaw@bilateral.ca">rhrenshaw@bilateral.ca</a></h4>
          </div>
      </div>
      <!--<div class="container">-->
          <!--<div class="row">-->
              <!--<div class="col-lg-12 text-center">-->
                  <!--<h2>Contact Me</h2>-->
              <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
              <!--<div class="col-lg-8 col-lg-offset-2">-->
                  <!--&lt;!&ndash; To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. &ndash;&gt;-->
                  <!--&lt;!&ndash; The form should work on most web servers, but if the form is not working you may need to configure your web server differently. &ndash;&gt;-->
                  <!--<form name="sentMessage" id="contactForm" novalidate>-->
                      <!--<div class="row control-group">-->
                          <!--<div class="form-group col-xs-12 floating-label-form-group controls">-->
                              <!--<label>Name</label>-->
                              <!--<input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">-->
                              <!--<p class="help-block text-danger"></p>-->
                          <!--</div>-->
                      <!--</div>-->
                      <!--<div class="row control-group">-->
                          <!--<div class="form-group col-xs-12 floating-label-form-group controls">-->
                              <!--<label>Email Address</label>-->
                              <!--<input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">-->
                              <!--<p class="help-block text-danger"></p>-->
                          <!--</div>-->
                      <!--</div>-->
                      <!--<div class="row control-group">-->
                          <!--<div class="form-group col-xs-12 floating-label-form-group controls">-->
                              <!--<label>Phone Number</label>-->
                              <!--<input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">-->
                              <!--<p class="help-block text-danger"></p>-->
                          <!--</div>-->
                      <!--</div>-->
                      <!--<div class="row control-group">-->
                          <!--<div class="form-group col-xs-12 floating-label-form-group controls">-->
                              <!--<label>Message</label>-->
                              <!--<textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>-->
                              <!--<p class="help-block text-danger"></p>-->
                          <!--</div>-->
                      <!--</div>-->
                      <!--<br>-->
                      <!--<div id="success"></div>-->
                      <!--<div class="row">-->
                          <!--<div class="form-group col-xs-12">-->
                              <!--<button type="submit" class="btn btn-success btn-lg">Send</button>-->
                          <!--</div>-->
                      <!--</div>-->
                  <!--</form>-->
              <!--</div>-->
          <!--</div>-->
      <!--</div>-->
  </section>

  <!-- Footer -->
  <footer class="text-center">
      <div class="footer-below">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">Bilateral Designs 2016
                  </div>
              </div>
          </div>
      </div>
  </footer>

   <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-61289986-1');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/portfolioservices.js"></script>
        <script src="scripts/directives/portfoliodirectives.js"></script>
        <script src="scripts/filters/portfoliofilters.js"></script>
        <!-- endbuild -->
</body>
</html>
