<div class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ modalContent.heading }}</h4>
            </div>
            <div class="modal-body ">
                <uib-tabset>
                    <uib-tab ng-repeat="tab in modalContent.tabs" heading="{{ tab.title }}" >
                        <img ng-if="tab.screencap" src="{{ tab.screencap }}"  />
                        <iframe  frameborder="0" changeModal="{{ tab.modalStyles }}" ng-if="tab.iframe.src" ng-src="{{ tab.iframe.src | trusted }}" style="{{ tab.iframe.style }}" />
                        <div class="tabFooter">
                            <p ng-bind-html="tab.text"></p>
                            <a ng-bind-html="tab.linkText" href="{{ tab.link }}" target="_blank"></a>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
            <!--<div class="modal-footer">-->
                <!--<p>{{ modalContent.text }}</p>-->
            <!--</div>-->
        </div>
    </div>
</div>
